<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @high_score.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @high_score.weight %>
</p>

<%= link_to 'Edit', edit_high_score_path(@high_score) %> |
<%= link_to 'Back', high_scores_path %>
